* text=auto eol=lf

# Windows scripts
*.bat text eol=crlf

# Published application binaries
*.dll binary
*.exe binary
*.pdb binary
*.so binary
*.dylib binary
*.db binary
*.gz binary
*.png binary
*.jpg binary
*.jpeg binary
*.ico binary
